{% extends "api_zoho/base.html"%}

{% block styles %}

    <style>
        .details-container {
            padding: 10px;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 4px;
        }

        .matched-value {
            background-color: rgba(0, 255, 0, 0.1);
        }

        .no-coincidences {
            background-color: rgba(255, 255, 0, 0.1);
        }

    </style>
    
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row" role="alert">
            <div class="col-12 d-flex justify-content-between align-items-center mb-3">
                <h1>Zoho Customer List</h1>
                <a href="{% url 'api_zoho:zoho_api_settings' %}" class="btn btn-warning">Back</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <p class="alert alert-info">
                    There are {{ customers|length }} customers found.
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>No.</th>
                                <th>Contact Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Company Name</th>
                                <th>Matched?</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            {% comment %} {{ customer.coincidences_by_order|length }}
                                <tr class="dt-control" data-coincidences="{{ customer.coincidences_by_order|safe }}">
                                        <td class="dt-control"></td> {% endcomment %}
                                {% if customer.coincidences_by_order|length > 0 %}
                                    <tr class="dt-control" data-coincidences="{{ customer.coincidences_by_order|safe }}" id="{{ customer.zoho_customer_id}}">
                                        <td class="dt-control"></td>
                                {% else %}
                                    <tr class="matched-value" data-coincidences="{{ customer.coincidences_by_order|safe }}" id="{{ customer.zoho_customer_id}}">
                                        <td class="matched-value"></td>
                                {% endif %} 
                                        <td>{{ customer.zoho_customer_name }}</td>
                                        <td>{{ customer.zoho_customer_email }}</td>
                                        <td>{{ customer.zoho_customer_phone }}</td>
                                        <td>{{ customer.zoho_company_name }}</td>
                                        <td>
                                            {% if not customer.zoho_qb_list_id or customer.zoho_qb_list_id == '' %} 
                                                <span class="alert-danger">NO</span>
                                            {% else %} 
                                                <span class="alert-success">YES</span> 
                                            {% endif %}
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            var table = $('#myTable').DataTable({
                "paging": true,
                "pageLength": 5,
                "lengthMenu": [5, 10, 25, 50],
                "ordering": true,
            });

            table.on('click', 'tr.dt-control', function (e) {
                let tr = $(this).closest('tr');
                let row = table.row(tr);
                
                let str_coincidences = tr.data('coincidences');

                if (str_coincidences.length > 2) {
                    str_coincidences = str_coincidences.replace(/'/g, '"');
                    let coincidences = JSON.parse(str_coincidences);
                    if (coincidences.length > 0) {
                        if (row.child.isShown()) {
                            row.child.hide();
                        }
                        else {
                            let id = tr.attr('id');
                            row.child(format(coincidences, id)).show();
                        }
                    }
                }
            });
        });

        function format(coincidences, zohoCustomerId) {
            // `coincidences` es el objeto JSON del atributo data-coincidences
            let html = '<div class="details-container">';
            html += '<h5>Coincidences</h5>';
            html += '<table class="table table-sm table-bordered">';
            html += '<thead class="thead-light">';
            html += '<tr>';
            html += '<th>QB List ID</th>';
            html += '<th>QB Customer Name</th>';
            html += '<th>Email</th>';
            html += '<th>Phone</th>';
            html += '<th>Seem Email</th>';
            html += '<th>Seem Phone</th>';
            html += '<th>Action</th>';
            html += '</tr>';
            html += '</thead>';
            html += '<tbody>';
            if (coincidences.length) {
                coincidences.forEach(function (coincidence) {
                    html += '<tr>';
                    html += '<td>' + coincidence.qb_customer_list_id + '</td>';
                    html += '<td>' + coincidence.qb_customer_name + '</td>';
                    html += '<td>' + coincidence.email + '</td>';
                    html += '<td>' + coincidence.phone + '</td>';
                    html += '<td>' + (coincidence.coincidence_email ? (coincidence.coincidence_email * 100).toFixed(2) + '%' : '0%') + '</td>';
                    html += '<td>' + (coincidence.coincidence_phone ? (coincidence.coincidence_phone * 100).toFixed(2) + '%' : '0%') + '</td>';
                    html += '<td><button type="button" class="btn btn-success" onclick="handleDoMatch(\'' + coincidence.qb_customer_list_id + '\')">Do Match</button></td>';
                    html += '</tr>';
                });
            } else {
                html += '<tr><td colspan="7">No coincidencias</td></tr>';
            }
            html += '</tbody>';
            html += '</table>';
            html += '<div class="text-right mt-2">';
            html += '<button type="button" class="btn btn-success" onclick="handleDoMatch(\'' + zohoCustomerId + '\')">Do Match All</button>';
            html += '</div>';
            html += '</div>';
            return html;
        }

        // Manejar el clic en el botón "Do Match"
        function handleDoMatch(qbCustomerListId) {
            // Aquí puedes añadir la lógica para manejar el evento del botón
            console.log('Do Match clicked for QB Customer List ID:', qbCustomerListId);
            // Ejemplo de llamada a una URL para hacer un "match"
            // window.location.href = '/your-url/do-match/?qb_customer_list_id=' + qbCustomerListId;
        }
    </script>
{% endblock %}
