<!DOCTYPE html>
<html>
<head>
    <title>View Customer</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% if customer %}
    <h1>Customer Details</h1>
    <table class="table">
        <tr>
            <th>Zoho Customer ID</th>
            <td>{{ customer.customer_id }}</td>
        </tr>
        <tr>
            <th>Zoho Customer Address</th>
            <td>{{ customer.address }}</td>
        </tr>
        <tr>
            <th>Zoho Customer Name</th>
            <td>{{ customer.contact_name }}</td>
        </tr>
        <tr>
            <th>Zoho Customer Email</th>
            <td>{{ customer.email }}</td>
        </tr>
        <tr>
            <th>Zoho Customer Phone</th>
            <td>{{ customer.phone }}</td>
        </tr>
        <tr>
            <th>Zoho Company Name</th>
            <td>{{ customer.company_name }}</td>
        </tr>
        <tr>
            <th>Zoho QB List ID</th>
            <td>{{ customer.qb_list_id }}</td>
        </tr>
        <tr>
            <th>Coincidences by Order</th>
            <td>
                <ul>
                    {% for coincidence in coincidences %}
                        <li>
                            <strong>QB Customer Name:</strong> {{ coincidence.qb_customer_name }}<br>
                            <strong>Email:</strong> {{ coincidence.email }}<br>
                            <strong>Coincidence Email:</strong> {{ coincidence.coincidence_email }}<br>
                            <strong>Phone:</strong> {{ coincidence.phone }}<br>
                            <strong>Coincidence Phone:</strong> {{ coincidence.coincidence_phone }}<br>
                            <strong>Company Name:</strong> {{ coincidence.company_name }}<br>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
{% else %}
    <p>No customer found.</p>
{% endif %}

<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
