<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QBWC - Zoho Invoices List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <style>
        .centered-cell {
            justify-content: center; /* Centrado horizontal */
            align-items: center; /* Centrado vertical */
            text-align: center; /* Centrado de texto */
        }
    </style>
</head>
<body>
    <div class="container-fluid mt-5">
        <div class="row" role="alert">
            <div class="col-12 d-flex justify-content-between align-items-center mb-3">
                <h1>QBWC - Zoho Invoices List (Matched & Unmatched)</h1>
                <a href="{% url 'api_quickbook_soap:quickbook_api_settings' %}" class="btn btn-warning">Back</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="row col-12">
                <div class="col-3">
                    <p class="alert alert-info">
                        There are <b>{{ invoices|length }}</b> invoices found.
                    </p>
                </div>
                <div class="col-3">
                    <p class="alert alert-warning">
                        There are <b>{{ unprocessed_number }}</b> invoices not processed.
                    </p>
                </div>
                <div class="col-3">
                    <p class="alert alert-success">
                        There are <b>{{ matched_number }}</b> matched invoices found.
                    </p>
                </div>
                <div class="col-3">
                    <p class="alert alert-danger">
                        There are <b>{{ unmatched_number }}</b> unmatched invoices found.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center centered-cell" >
            <div class="col-12">
                <div class="table-responsive">
        
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>No.</th>
                                <th>Invoice ID</th>
                                <th>Info General</th>
                                <th>Info Items</th>
                                <th>Unmatched Customer</th>
                                <th>Unmatched Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice in invoices %}
                            {% if invoice.customer_unmatched or invoice.items_unmatched %}
                                <tr style="background-color: rgba(255, 0, 0, 0.1);">
                            {% elif invoice.inserted_in_qb %}
                                <tr style="background-color: rgba(0, 255, 0, 0.1);">
                            {% else %}
                                <tr style="background-color: rgba(255, 255, 0, 0.1);">
                            {% endif %}
                                    <td class="centered-cell">{{ forloop.counter }}</td>
                                    <td class="centered-cell">{{ invoice.invoice_id }}</td>
                                    <td class="centered-cell">
                                        <ul>
                                            <li>Invoice number: {{ invoice.invoice_number }}</li>
                                            <li>Customer name: {{ invoice.customer_name }}</li>
                                            <li>Invoice date: {{ invoice.date }}</li>
                                            <li>Amount: {{ invoice.total }}</li>
                                        </ul>
                                    </td>
                                    <td class="centered-cell">
                                        <ul>
                                            {% for item in invoice.line_items %}
                                                <li>{{ item.description }} (Total Item: <b>{{ item.item_total }})</b></li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="centered-cell">
                                        {% if invoice.customer_unmatched %}
                                            <ul>
                                               {% for item in invoice.customer_unmatched %}
                                                    <li>{{ item.zoho_customer_unmatched }}</li>
                                                    <li>ID: {{ item.zoho_customer_id }}</li>
                                                    <li>Reason: <b>{{ item.reason }}</b></li>
                                                {% endfor %}
                                            </ul>
                                        {% elif not invoice.inserted_in_qb %}
                                            <p class="alert alert-warning" style="text-align: center;">Not processed</p>
                                        {% else %}
                                            <p class="alert alert-success" style="text-align: center;"><b>Matched</b></p>
                                        {% endif %}
                                    </td>
                                    <td class="centered-cell">
                                        {% if invoice.items_unmatched %}
                                            <ul>
                                                {% for item in invoice.items_unmatched %}
                                                    <li>{{ item.zoho_item_unmatched }}</li>
                                                    <li>ID: {{ item.zoho_item_id }}</li>
                                                    <li>Reason: <b>{{ item.reason }}</b></li>
                                                {% endfor %}
                                            </ul>
                                        {% elif not invoice.inserted_in_qb %}
                                            <p class="alert alert-warning" style="text-align: center;">Not processed</p>
                                        {% else %}
                                            <p class="alert alert-success" style="text-align: center;"><b>Matched</b></p>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
                "paging": true,            
                "pageLength": 5,          
                "lengthMenu": [5, 10, 25, 50],
                "ordering": true,
            });
        } );
    </script>
</body>
</html>
