<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Matched Items JSON</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <style>
        pre {
            background-color: #f4f4f4;
            padding: 10px;
            border: 1px solid #ccc;
            overflow: auto;
        }
    </style>
</head>
<body>

<div class="container-fluid mt-5">
    {% csrf_token %}
    <div class="row">
        <div class="col-8">
            <h1>Matched Items</h1>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a href="{% url 'api_quickbook_soap:quickbook_api_settings' %}" class="btn btn-warning mr-2">Back</a>
            <a href="#" class="btn btn-info mr-2" onclick="unmatchAllFirst(this)">Unmatch All</a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <p class="alert alert-info">
                There are {{ matched_items|length }} matched items found.
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive">
    
                <table id="myTable" class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Quick Book Item</th>
                            <th>Zoho Item</th>
                            <th>List ID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in matched_items %}

                            <tr class="main-row">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.qb_item_name }}</td>
                                <td>{{ item.zoho_item }} <br/>(SKU: {{ item.zoho_item_sku }})</td>
                                <td>{{ item.qb_item_list_id }}</td>
                                <td>
                                    <button class="warning-button" onclick="unmatchRow(this, '{{ item.qb_item_list_id }}', '{{ item.zoho_item_id }}')">
                                        Unmatch
                                    </button>
                                </td>
                            </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Incluir jQuery y otras bibliotecas necesarias -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Incluir DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowgroup/1.1.4/js/dataTables.rowGroup.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#myTable').DataTable({
            "paging": true,            
            "pageLength": 5,          
            "lengthMenu": [5, 10, 25, 50],
            "ordering": true
        });
    });

    function unmatchRow(button, qb_item_list_id, zoho_item_id) {
        if (confirm('Are you sure you want to unmatch this item?')) {
            // Encontrar todas las filas relacionadas
            var mainRow = $('.main-row').filter(function() {
                return $(this).find('td:nth-child(3)').text().trim() === qb_item_list_id;
            });
            var subRows = mainRow.nextUntil('.main-row');

            var csrftoken = getCookie('csrftoken');
            // Encontrar todas las filas principales
            var mainRows = $('.main-row');
            
            // Eliminar todas las filas principales
            $.ajax({
                 url: '/api_quickbook_soap/match_one_item_ajax/',
                 type: 'POST',
                 data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'qb_item_list_id': qb_item_list_id,
                    'zoho_item_id': zoho_item_id,
                    'action': 'unmatch'
                 },
                 success: function(response) {
                    console.log(response);
                     window.location.reload();
                 },
                 error: function(response) {
                     alert('Error matching items for customer');
                 }
             });
            
        }
    }

    function unmatchAllFirst(button) {
        if (confirm('Are you sure you want to unmatch all first items?')) {
            var csrftoken = getCookie('csrftoken');
            // Encontrar todas las filas principales
            var mainRows = $('.main-row');
            
            // Eliminar todas las filas principales
            $.ajax({
                 url: '/api_quickbook_soap/match_all_first_items_ajax/',
                 type: 'POST',
                 data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'action': 'unmatch'
                 },
                 success: function(response) {
                     window.location.reload();
                 },
                 error: function(response) {
                     alert('Error matching items for customer');
                 }
             });
        }
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Verificar si la cookie contiene el nombre buscado
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    

</script>

</body>
</html>
