<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display QBWC Items JSON</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <style>
        pre {
            background-color: #f4f4f4;
            padding: 10px;
            border: 1px solid #ccc;
            overflow: auto;
        }
    </style>
</head>
<body>

<div class="container-fluid mt-5">
    {% csrf_token %}
    <div class="row">
        <div class="col-8">
            <h1>QBWC Items</h1>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a href="{% url 'api_quickbook_soap:quickbook_api_settings' %}" class="btn btn-warning mr-2">Back</a>
            <a href="#" class="btn btn-info mr-2" onclick="neverMatchItems(this)">Never Match Selected</a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <p class="alert alert-info">
                There are {{ qbwc_items|length }} QBWC items found.
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive">
    
                <table id="myTable" class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Quick Book Item</th>
                            <th>QB List ID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in qbwc_items %}

                            <tr class="main-row">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.list_id }}</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="{{ item.list_id }}">
                                        <label class="form-check-label" for="{{ item.list_id }}">
                                            Never match?
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Incluir jQuery y otras bibliotecas necesarias -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Incluir DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowgroup/1.1.4/js/dataTables.rowGroup.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#myTable').DataTable({
            "paging": true,            
            "pageLength": 5,          
            "lengthMenu": [5, 10, 25, 50],
            "ordering": true
        });
    });

    function neverMatchItems(button) {
        if (confirm('Are you sure you want to never match selected items?')) {
            var csrftoken = getCookie('csrftoken');
            var items = [];
            $('.form-check-input').each(function() {
                if ($(this).is(':checked')) {
                    items.push($(this).attr('id'));
                }
            });

            console.log(items);

            $.ajax({
                url: '/api_quickbook_soap/never_match_items_ajax/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'items': JSON.stringify(items)
                },
                success: function(response) {
                    window.location.reload();
                },
                error: function(response) {
                    alert('Error matching items for customer');
                }
            });
        }
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Verificar si la cookie contiene el nombre buscado
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    

</script>

</body>
</html>
